.App {
  margin-top: 80px;
}

.search {
  border-radius: 9px;
  border: 1px solid black;
  width: 50%;
  display: block;
  margin: 0 auto;
  height: 28vh;
  margin-top: 20px;
  background-color: white;
}
.input {
  border-radius: 7px;
  border: 1px solid gray;
  padding: 20px 40px;
  width: 90%;
  font-size: 20px;
}
.paragraph {
  margin-left: 40px;
  margin-top: 10px;
}
.word {
  border-radius: 9px;
  border: 1px solid black;
  width: 50%;
  display: block;
  margin: 0 auto;
  height: 20vh;
  margin-top: 20px;
  background-color: white;
}
.meaning {
  border-radius: 9px;
  border: 1px solid black;
  width: 50%;
  display: block;
  margin: 0 auto;
  height: 20vh;
  margin-top: 20px;
  background-color: white;
}
.synonyms {
  border-radius: 9px;
  border: 1px solid black;
  width: 50%;
  display: block;
  margin: 0 auto;
  height: 20vh;
  background-color: white;
  margin-top: 20px;
}
.noun {
  border-radius: 9px;
  border: 1px solid black;
  width: 50%;
  display: block;
  margin: 0 auto;
  height: 20vh;
  margin-top: 20px;
  background-color: white;
}
small {
  margin-left: 39px;
  font-size: 17px;
}
body {
  background-color: #f9f7fe;
}
h1 {
  margin-left: 30px;
}

p {
  margin-left: 30px;
}
form {
  margin-top: 20px;
}
label {
  font-size: 30px;
  font-weight: 700;
}
